<h1>Welcome Admin</h1>
 

 <%= link_to 'Registered Users', userslist_path %><br>
 <%= link_to "Post challenge", new_challenge_path%><br>
 <%= link_to 'Logout', destroy_user_session_path, :method => :delete %><br>
 <%= link_to "Challenges list", challengeslist_path%><br>